.main-container {
    display: flex;
}

.header {
    background: red;
    height: 50px;
    top: 0;
    left: auto;
    right: 0;
    position: fixed;
    width: 100%;
}

.chat {
    // height: calc(100vh - 64px);
    height: 88.8vh;
    position: sticky;
    margin-top: 64px;
    overflow-y: auto;
    flex-shrink: 0;
    top: 64px;
    border-left: 1px solid #8080803d;
    padding: 10px;
}

.news {
    height: calc(100vh - 50px);
    position: sticky;
    margin-top: 50px;
    overflow-y: auto;
    flex-shrink: 0;
    background: green;
    top: 50px;
}

.temp-letter-green {
    color: #07e61ad0;
}

.temp-letter-red {
    color: #ff0808d0;
}
